{% load static %}

<footer class="footer">
  <section class="photo-gallery">
    <img
      src="{% static 'img/hancza_river.jpg' %}"
      alt="river"
      class="img-gallery"
    />
    <img
      src="{% static 'img/winter.jpg' %}"
      alt="winter trees"
      class="img-gallery"
    />
    <img
      src="{% static 'img/suwalki_zalew.jpg' %}"
      alt="lake"
      class="img-gallery"
    />
    <img
      src="{% static 'img/zalew-frost.jpg' %}"
      alt="lake on frosty morning"
      class="img-gallery"
    />
    <img
      src="{% static 'img/spring-lake.jpg' %}"
      alt="lake and spring trees"
      class="img-gallery"
    />
    <img
      src="{% static 'img/zalew-trees.jpg' %}"
      alt="trees on the shore of the lake"
      class="img-gallery"
    />
  </section>
  <section id="social-links">
    <ul class="social-links">
      <li class="twitter link">
        <a href="https://twitter.com/makneta" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="github link">
        <a href="https://github.com/maknetaRo" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
      </li>
      <li class="youtube link">
        <a
          href="https://www.youtube.com/channel/UC4LEVBWmYsZak-TzknTlDdw"
          target="_blank"
        >
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
  </section>
  <section class="about-row">
    <div class="about">
      <h3>About Coding Journal</h3>
      <p class="about-desc">
        This blog is my first live application written in Django. The code is
        not finished. I'm going to add new features and write about it. So
        Python and Django will be the main topics of this website.
      </p>
      <br />
      <p class="about-desc">
        By no means I'm an expert. I'm still learning and as the title says it's
        my coding journal. I'm going to write about things I'm working on, about
        things I've just learnt or want to try. If you think that my solutions
        aren't good, don't hesitate to let me know. If you like my posts, don't
        hesitate to let me know, too.
      </p>
    </div>
    <div class="navigator">
      <h3>Navigator</h3>
      <ul class="nav-links">
        <li class="nav-link"><a href="{% url 'post_list' %}">Home</a></li>
        <li class="nav-link"><a href="{% url 'about' %}">About</a></li>
        <li class="nav-link"><a href="{% url 'about' %}">Portfolio</a></li>
      </ul>
    </div>
  </section>
  <p class="made-by">
    Made with <span class="heart">&hearts;</span> by
    <a href="">Magdalena Rosłaniec</a>
  </p>
</footer>
