{% load static %}

<aside class="aside">
  <figure class="bio-card">
    <img
      src="{% static 'img/magda.jpg' %}"
      alt="profile photo"
      class="bio-img"
    />
    <figcaption class="bio-desc">
      Hi! I'm Makneta. Welcome to my blog. I'm an avid learner, Python / Django
      and CSS Art ethusiast.
    </figcaption>
    <a href="about.html" class="read-bio">Read more</a>
  </figure>
  <div class="latest-posts-card">
    <h3 id="featured-posts">Latest posts</h3>
    <ul id="posts-list">
      <li class="list">
        <a href="posts/post1.html">How to start a Django project</a>
      </li>
      <li class="list">
        <a href="posts/post2.html">Active links in Django</a>
      </li>
      <li class="list">
        <a href="posts/post3.html">First tests in my Django app </a>
      </li>
    </ul>
  </div>
</aside>
