@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "./blog.css";
@import "./post.css";
@import "./about.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #f0f0f0;
  --side-bg-color: white;
  --text-color: rgb(0, 0, 0);
  --side-color: rgba(0, 0, 0, 0.7);
  --btn-bg-color: #93b876;
  --btn-bg-hover-color: #6b934c;
  --date-color: rgba(0, 0, 0, 0.5);
  --list-border-color: #e6e6e6;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
}
html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
h1 {
  color: var(--btn-bg-color);
}
h2,
h3,
h4 {
  color: var(--side-color);
}
body {
  font-size: 16px;
  background: var(--main-bg-color);
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}
