<article id="first-post" class="card">
  <div class="top-card" id="first"></div>
  <div class="bottom-card">
    <div class="date-title-row">
      <h2 class="post-title">How to start a Django project</h2>
      <h4 class="date">March 28, 2020</h4>
    </div>
    <p class="short-desc">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
      adipisci, esse quaerat ducimus libero tempore itaque. Nulla in sunt
      facilis nemo quos. Suscipit quam reiciendis officiis quibusdam? Velit,
      minus? Libero. Dolor, amet atque, possimus dicta esse eos commodi incidunt
      doloremque nihil officia tempora?
    </p>
    <a class="read-more" href="posts/post1.html">Read more ...</a>
  </div>
</article>
