{% extends 'base.html' %} {% load static %} {% load blog_tags %}

<!-- content -->
{% block content %}
<article id="first-post" class="card">
  <div class="top-card" class="main-image">
    <img
      class="image"
      src="{% if post.header_image %}{{ post.header_image.url }}{% endif %}"
    />
  </div>
  <div class="bottom-card">
    <div class="date-title-row">
      <h2 class="post-title"><u>{{ post.title }}</u></h2>
      <h4 class="date">{{ post.created_on|date:"M d, y" }}</h4>
    </div>
    <div class="tag-row">
      <p class="tags">Tags: 
        {% for tag in post.tags.all %}
        <a href="{% url 'tagged' tag.slug %}" title="" rel="category tag">{{ tag.name }}</a>
        {% endfor %}
      </p>
    </div>
    <!-- <p class="short-desc">
      <i>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</i>
      Accusantium adipisci, esse quaerat ducimus libero tempore itaque. Nulla in
      sunt facilis nemo quos. Suscipit quam reiciendis officiis quibusdam?
      Velit, minus? Libero. Dolor, amet atque, possimus dicta esse eos commodi
      incidunt doloremque nihil officia tempora?
    </p> -->
    <p class="short-desc">
      {{ post.text }}
    </p>
    <figure class="post-bio-info">
      <img
        src="{% static 'img/magda.jpg' %}"
        alt="my photo"
        id="bio-photo"
        class="bio-img"
      />
      <figcaption class="bio-desc">
        <p class="written-by">written by</p>
        <p class="author-name">{{ post.author }}</p>
        Avid learner, Python / Django and CSS Art ethusiast.
      </figcaption>
    </figure>
  </div>

  </div>
</article>
<!-- <section class="tags">
  <span>Tagged in</span>
  {% for tag in post.tags.all %}
  <a href="{% url 'tagged' tag.slug %}" class="button-tag" title="" rel="category tag">{{ tag.name }}</a>
  {% endfor %}
</section> -->
<!-- Similar Posts Section -->
{% include 'partials/_similar_posts.html' %} {% endblock %}
