{% extends 'base.html' %} {% load static %}

<!-- content -->
{% block content %}

<!-- logic -->

{% for post in posts %}
<article id="first-post" class="card">
  <div class="top-card" class="main-image">
    <img
      class="image"
      src="{% if post.header_image %}{{ post.header_image.url }}{% endif %}"
      alt=""
    />
  </div>
  <div class="bottom-card">
    <div class="date-title-row">
      <h2 class="post-title">
        <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
      </h2>
      <h4 class="date">{{ post.created_on|date:"M d, y" }}</h4>
    </div>
    <p class="short-desc">
      {{ post.text|safe|truncatewords:"30" }}
    </p>
    <a class="read-more" href="{% url 'post_detail' post.slug %}"
      >Read more ...</a
    >
  </div>
</article>
{% endfor %} {% endblock %}
