@import "./main.css";
@import "./post.css";
@import "./about.css";

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

main,
aside,
footer,
header {
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 1em;
}

/* Header & Sidebar */

header,
aside {
  background: var(--side-bg-color);
  width: 100%;
  justify-content: center;
  text-align: left;
  padding: 1rem 50px;
  color: var(--side-color);
}

header {
  grid-area: header;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}
.nav-link {
  line-height: 1.75;
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  padding-right: 2rem;
}
.current {
  background: var(--btn-bg-color);
}
aside {
  grid-area: aside;
  padding-top: 0;
}
#main-title {
  padding-bottom: 1rem;
}

#main-title a {
  text-decoration: none;
}

.grey-line {
  width: 100px;
  height: 1px;
  background-color: var(--date-color);
}

.subtitle,
.bio-card,
.latest-posts-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bio-card {
  text-align: left;
  align-items: center;
  line-height: 1.5;
  margin-top: 0;
  padding-top: 50px;
}

.bio-img {
  width: 40%;
  height: auto;
  border: 5px solid transparent;
  margin-bottom: 1rem;
  border-radius: 50%;
  min-width: 80px;
}
.read-bio {
  display: inline-block;
  padding-top: 1rem;
}

.latest-posts-card {
  padding-top: 1rem;
}
#featured-posts {
  padding-bottom: 1rem;
}

#posts-list {
  list-style: none;
  line-height: 2.5;
}

#posts-list li {
  border-top: 1px dotted var(--list-border-color);
}

#posts-list a {
  color: var(--side-color);
  text-decoration: none;
}

#posts-list a:hover {
  color: var(--text-color);
}

/* Main Part */
main {
  grid-area: main;
}
.card {
  border-radius: 5px;
  margin-bottom: 4em;
  background: white;
  box-shadow: 1px 3px 3px 1px var(--box-shadow-color);
  display: grid;
  grid-template-rows: 250px 2fr;
  grid-template-areas:
    "top"
    "bottom";
}

.date-title-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.date-title-row h4 {
  color: var(--date-color);
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.top-card {
  grid-area: top;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
}

.post-title {
  padding: 0 1.5rem 1.5rem;
}

#first,
#second,
#third {
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

#first {
  background-image: url("../img/cup-of-coffee.jpg");
}

#second {
  background-image: url("../img/home-office.jpg");
}

#third {
  background-image: url("../img/student.jpg");
}

.bottom-card {
  grid-area: bottom;
  padding: 5%;
  padding-bottom: 2.5rem;
}

.short-desc {
  padding: 0 1.5rem 2.5rem;
  line-height: 1.5;
}

/* Buttons */

.read-more {
  display: inline-block;
  padding: 0.9rem 2rem;
  margin-left: 1.5rem;
  background-color: var(--btn-bg-color);
  border: none;
  outline: none;
  border-radius: 5px;
}

a.read-more {
  color: var(--side-bg-color);
  font-weight: 400;
  text-decoration: none;
}

.read-more:hover {
  transform: scale(1.1);
  background: var(--btn-bg-hover-color);
}

/* Footer */

footer {
  grid-area: footer;
  padding-top: 3rem;
  color: var(--side-color);
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  padding-bottom: 2em;
  margin: 0 auto;
}

.img-gallery {
  max-width: 33%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

img {
  object-fit: cover;
  border: 2px solid transparent;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img-gallery:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 50px auto 0;
  align-items: center;
}
.link {
  padding: 0.75rem;
  list-style: none;
  font-size: 1.75rem;
  color: var(--side-color);
}
.fa:hover {
  color: var(--text-color);
}

.about-row {
  display: flex;
  flex-direction: column;
  padding: 50px;
  line-height: 1.5;
}

.about-row h3 {
  padding-bottom: 1.5rem;
}

.about {
  padding-bottom: 50px;
}

.navigator li {
  list-style: none;
}

.made-by {
  padding-bottom: 1rem;
  text-align: center;
  color: var(--side-color);
}

a {
  color: var(--side-color);
}

span.heart {
  font-weight: 700;
}

/* Media queries */

@media (min-width: 760px) {
  body {
    grid-template-columns: fit-content(30%) auto;
    grid-template-rows: 350px auto 300px;
    grid-template-areas:
      "header main"
      "aside  main"
      "footer footer";
  }

  header {
    grid-area: header;
    max-width: 400px;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .bio-img {
    width: 60%;
  }

  #main-title {
    padding-bottom: 50px;
  }

  .date-title-row {
    display: flex;
    flex-direction: row;
  }

  .subtitle,
  .bio-card,
  .latest-posts-card {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  aside {
    grid-area: aside;
    max-width: 400px;
    margin-top: 0;
    padding-top: 0;
  }

  main {
    grid-area: main;
    padding: 3.5rem;
    padding-bottom: 0;
    max-width: 1220px;
  }

  footer {
    grid-area: footer;
    max-width: 1224px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .photo-gallery {
    flex-wrap: nowrap;
    max-width: 1224px;
    margin: 0;
  }

  .img-gallery {
    width: 400px;
    height: auto;
  }

  .about-row {
    display: flex;
    flex-direction: row;
  }

  .about {
    width: 60%;
    padding: 50px;
    text-align: justify;
  }
  .navigator {
    padding: 50px;
  }
}
@media (min-width: 1224px) {
  footer {
    max-width: 100vw;
  }

  .photo-gallery {
    max-width: 100vw;
  }
}
